*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
}



nav{
    display: grid;
    align-items: center;
}

.nav-center{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul, li {
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-links{
    display: flex;
}

nav a{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1em;
    margin-right: 1.2em;
}

nav a:hover{
    color: lightblue;
}


h1, h2, h3, h4{
    text-transform: capitalize;
    line-height: 1.3;
    margin-bottom: 0.8em;
    letter-spacing: 0.1em;
}

main{
    display: grid;
    place-items: center;
}

.container{
    text-align: center;
}

.container h2{
    background-color: rgb(185, 187, 183);
    border: 1px solid rgb(39, 51, 39);
    border-radius: 5px;
    padding: 5px;
}

.btn-hero {
    text-transform: uppercase;
    background:transparent;
    letter-spacing: normal;
    display: inline-block;
    font-weight: 700;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    font-size: 1.3em;
    padding: 0.5em 1.1em;
}
