*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
}

.container{
    display: flex;
    flex-direction: column;
}

.container h1{
    text-align: center;
    justify-content: center;
    margin: 120px auto 20px;
    font-size: 3em;
}

.container span{
    text-align: center;
    justify-content: center;
    font-size: 2.8em;
    font-weight: 600;
}

.container .button-container{
    text-align: center;
    justify-content: center;
    margin: 5px 12px;
}

.btn{
    font-size: 1.3em;
    font-weight: 600;
    padding: 4px 10px;
    margin: 5px 12px;
    text-transform: uppercase;
    border:1px solid lightskyblue;
    border-radius:6px ;
    letter-spacing: 1.3;
    cursor: pointer;
}

.btn:hover{
    color:white;
    background-color: lightskyblue;
}