@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


*{
    box-sizing: border-box;

}

body{
    background-color: #7bdaf3;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding-top: 3rem;
}

.add {
    background-color: #9ec862;
    border-radius: 3px;
    border:none;
    color:white;
    padding: 0.5rem 1rem;
    position: fixed;
    top:1rem;
    right: 1rem;
    cursor: pointer;
}

.note {
    background-color: #fff;
    margin:20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: #9ec862;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border:none;
    color:#fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note .main {
    background-color: #eee;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border:none;
    height: 400px;
    width: 100%;
}

.note .hidden {
    display: none;
}